<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">WHO ARE WE?</h2>
                <hr class="light">
                <p class="text-faded">We are a JA company that strives to provide consumers with an efficient means to dry their clothes while also providing the opportunity to take one step closer to a better tommorow.</p>
                <a href="https://www.instagram.com/yycjarn/" class="btn btn-default btn-xl">Our next sale location</a>
            </div>
        </div>
    </div>
</section>
