<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Our Product</h2>
                <hr class="light">
                <p class="text-faded">Marketing department is bad at their job so IT designed this entire website. It looks pretty good though.</p>
                <a href="#" class="btn btn-default btn-xl">Read more</a>
            </div>
        </div>
    </div>
</section>
