<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">OUR PRODUCT</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-diamond wow bounceIn text-primary"></i>
                    <h3>Hand-crafted</h3>
                    <p class="text-muted">Our product is hand-sewn by professional-grade artisans (high schoolers), who have perfected the art of wool-ball crafting. </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-paper-plane wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>Recycled Wool</h3>
                    <p class="text-muted">We source our product materials from sweater drives and unused wool, thereby reducing our environmental impact whilst also ensuring consumers a high quality product.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-newspaper-o wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>A JA Company</h3>
                    <p class="text-muted">This product is part of a company program that helps educate and enlighten high schoolers with first-hand experience in business. </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-heart wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>2000 uses</h3>
                    <p class="text-muted">Our product can be used over 2000 times in the dryer, cutting down huge costs in comparison to using dryer sheets alone.  </p>
                </div>
            </div>
        </div>
    </div>
</section>
